.maintext {
    overflow: hidden;
    text-shadow: 0 0 tomato, 0 0 yellowgreen, 0 0 skyblue;
    color: transparent;
    transition: all 1s;
}

.maintext:hover {
    text-shadow: -400px 0 tomato, 400px 0 yellowgreen, 0 0 skyblue;
}

.doctors {
    height: 50px;
    width: 50px;
}