{% extends 'base.html' %}

{% block content %}

<h1>Контакты</h1>
<p>
ООО "Медик" ("Первый Медицинский")<br/>
Адрес: 680038, г. Хабаровск, ул. Джамбула, д. 20<br/>
Телефон: 8 (4212) 77-00-19<br/>
WhatsApp, Viber, Telegram: +7-914-544-00-19<br/>
E-mail: medic@yandex.ru<br/>
График работы (МСК+7, московское время плюс 7 часов, UTC+10):<br/>
Понедельник-Пятница с 8:00 до 20.00<br/>
Суббота-Воскресенье с 10.00 до 18.00*<br/>
*Мы работаем ежедневно.<br/>
Режим работы в нерабочие праздничные дни в Российской Федерации c 10.00 до 18.00.</p>
{% endblock content %}



